body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    
    
}

.content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 60%; /* Ajusta el ancho según tus necesidades */
    height: auto;
  
  margin: 0 auto
}

.chart-container {
  width: 40%; /* Ajusta el ancho según tus necesidades */
  height: 100px; /* Ajusta la altura según tus necesidades */
  margin: 0 auto; /* Centra la gráfica horizontalmente */
}

/* Navbar vertical */
nav {
  background-color: #333;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  padding: 20px;
  color: #fff;
  position: fixed; /* Fija el navbar en su posición */
  top: 0;
  left: 0;
  height: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
  border-top: 2px solid gray; 
}
a {
  text-decoration: none;
  color: #fff;
}

/* Sección principal */
main {
  flex: 1; /* El contenido principal ocupará el espacio restante */
  padding: 20px;
}

@media (max-width: 768px) {
  nav {
      position: relative;
      width: 100%;
      height: auto;
      /* Otros estilos para adaptar el navbar a pantallas pequeñas */
  }
}